<div class="card">
  <%= link_to prototype_path(prototype) do %>
    <%= image_tag prototype.image, class: "card__img" if prototype.image.present? %>
    <h2 class="card__title"><%= prototype.title %></h2>
    <p class="card__summary"><%= prototype.catch_copy %></p>
  <% end %>
  <%= link_to "by #{prototype.user.name}", user_path(prototype.user), class: "card__user" %>

  <% if user_signed_in? && prototype.user_id == current_user.id %>
    <div class="card__actions">
      <!--
      <%= link_to '編集', edit_prototype_path(prototype), class: 'card__action' %>
      <%= link_to '削除', prototype_path(prototype), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'card__action' %>
      -->
    </div>
  <% end %>
</div>
